
.sample-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.sample-container{
    max-width: 1140px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;

    
}

.sample-card{
    /* background: #1a1919; */
    padding: 1.2rem 1rem;
    display: flex;
    
    
}

.sample-card img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
     margin: auto;
     object-fit: cover;
}

.sample-card img:hover {opacity: 0.7;}
/* .form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(2px);
}
.form-container{
    background-color: white;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}
 */

 
  




@media screen and (max-width:740px){
    .sample-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr ;
    } 
}


